---
import Layout from '@/layout/Base.astro'
import Hero from './components/Hero.astro'
import ServiciosMentoria from './components/ServiciosMentoria.astro'
---
<Layout title="Mentoría Ejecutiva" description="Descubre nuestros servicios de mentoría ejecutiva diseñados para potenciar tus habilidades de liderazgo y alcanzar el éxito profesional.">
  <main>
    <Hero/>
    <ServiciosMentoria />
  </main>
</Layout>