---
import Layout from '@/layout/Base.astro'
import AboutUsHero from './components/AboutUsHero.astro'
import AboutUsTeam from './components/AboutUsTeam.astro'
---

<Layout title="Nosotros" description="Conoce más sobre nuestro equipo y nuestra misión de transformar líderes y organizaciones desde adentro.">
  <main>
    <AboutUsHero />
    <AboutUsTeam />
  </main>
</Layout>
