---
import Section from '@/components/ui/Section.astro';
import CtaPrimary from '@/components/ui/CtaPrimary.astro';
---

  <Section class="bg-dark-green">
  <div class="flex flex-col items-center">
    <header>
      <h2 class="text-lightgreen text-h2 my-h2 font-Season-mix text-balance">Tu Equipo no Puede Esperar</h2>
    </header>
    <div class="w-full max-w-lg">
      <p class="text-lightgreen text-p my-p text-pretty text-center">
        Cuando enfrenta un reto crítico, cada hora cuenta. Una conversación estratégica hoy puede cambiar el rumbo de tu organización mañana.
      </p>
    </div>
    <footer class="pt-6">
      <CtaPrimary href="/contacto" body="Solicita una llamada"/>
    </footer>
  </div>
</Section>
