---
import Layout from '@/layout/Base.astro'
import CoachingBenefits from './components/CoachingBenefits.astro'
import CoachingHero from './components/CoachingHero.astro'
import CoachingImpact from './components/CoachingImpact.astro'
import CoachingProcess from './components/CoachingProcess.astro'
import CoachingServices from './components/CoachingServices.astro'

---
<Layout title="Coaching Ejecutivo y Alineación de Equipo" description="Descubre nuestros servicios de coaching ejecutivo y alineación de equipo diseñados para potenciar el rendimiento y la colaboración en tu organización.">
  <main>
    <CoachingHero />
    <CoachingBenefits />
    <CoachingServices />
    <CoachingProcess />
    <CoachingImpact />
  </main>
</Layout>