---
import Section from "@/components/ui/Section.astro";


const processSteps = [
  {
    id: "01",
    title: "Diagnóstico Inicial",
    description: "Entendemos tu situación actual, desafíos específicos y objetivos de transformación."
  },
  {
    id: "02",
    title: "Diseño del Plan",
    description: "Diseñamos un plan personalizado alineado con tu contexto, cultura y metas organizacionales."
  },
  {
    id: "03",
    title: "Ejecución y Acompañamiento",
    description: "Implementamos el plan a través de sesiones de coaching, talleres y seguimiento continuo."
  },
  {
    id: "04",
    title: "Evaluación y Sostenibilidad",
    description: "Medimos resultados, consolidamos aprendizajes y aseguramos la continuidad del cambio."
  }
];
---

<Section>
  <h2 class="text-h2 my-h2 font-Season-mix">Proceso de Coaching Ejecutivo</h2>
  <p class="my-[1em]">El proceso de Coaching Ejecutivo se estructura en varias fases clave que garantizan un acompañamiento efectivo y transformador:</p>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mt-6 gap-5">
    {
      processSteps.map(step => (
        <li class="p-6 w-full h-full border rounded-lg">
          <header class="">
            <span class="border-2 rounded-full p-2 text-sm size-2">{step.id}</span>
            <h3 class="text-h4 font-Season-mix my-h3">{step.title}</h3>
          </header>
          <p class="my-[1em] text-pretty">{step.description}</p>
        </li>
      ))
    }
  </ul>
</Section>