---
import CtaPrimary from "@/components/ui/CtaPrimary.astro";
import CtaSecondary from "@/components/ui/CtaSecondary.astro";
import Section from "@/components/ui/Section.astro";
---

<Section class="h-dvh mt-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 place-content-center h-full">
    <div>
      <header>
        <h1 class="text-h1 font-bold my-h1 text-balance">Coaching Ejecutivo y Alineación de equipos.</h1>
      </header>
      <p class="text-pretty my-p text-p">Un espacio de acompañamiento para equipos que buscan fortalecer su alineación interna, construir relaciones de confianza y consolidar su alto desempeño.</p>
      <footer class="flex flex-col md:flex-row gap-5 pt-6">
        <CtaPrimary href="#services" body="Explora nuestros servicios" />
        <CtaSecondary href="/Contacto" body="Agenda una conversación" />
      </footer>
    </div>
    <div></div>
  </div>
</Section>