---
import Section from "@/components/ui/Section.astro";
import CtaPrimary from "@/components/ui/CtaPrimary.astro";
---

<Section class="h-dvh pt-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center w-full h-full">
    <div>
      <header>
        <h1 class="text-h1 my-h1 font-bold text-balance">Transforma tu Liderazgo. Guía Curada por José Echeverri.</h1>
      </header>
      <p class="text-pretty text-p my-p">Accede a la biblioteca esencial de libros que han moldeado a los líderes más profesionales y efectivos del mundo. Deja de adivinar, empieza a liderar con estrategia.</p>
      <blockquote>
        <p class="text-pretty text-p my-p">El líder que deja de aprender, deja de liderar. Mis recomendaciones son el camino más directo para elevar tu profesionalismo.</p>
        <footer>
          <cite class="text-pretty text-p my-p">José Echeverri</cite>
        </footer>
      </blockquote>
      <footer class="pt-6">
        <CtaPrimary href="#recomendaciones" body="Explora la Biblioteca Ahora" />
      </footer>
    </div>
    <div class="w-full h-full">
      
    </div>
  </div>
</Section>