---
import Section from "@/components/ui/Section.astro";
---

<Section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full h-full items-center group">
    <div class="overflow-hidden rounded-xl">
      <img src="https://joseecheverri.com/wp-content/uploads/2025/11/conferencias.webp" alt="Conferencia de negocios con presentador en escenario y audiencia frente a pantalla con mapamundi e íconos tecnológicos" loading="lazy" decoding="async" class="w-full h-full object-cover group-hover:scale-110 transform transition-all duration-300">
    </div>
    <div>
      <header>
        <h2 class=" text-heading2 font-Season-mix my-[0.83em] text-balance">Más que palabras: conferencias con impacto real</h2>
      </header>
      <p class="text-pretty my-[1em]">He sido invitado a dar conferencias en Latinoamérica y Estados Unidos, apoyando organizaciones y líderes empresariales a desbloquear todo su potencial a través de conferencias inspiradoras y llenas de realidad.</p>
      <p class="text-pretty my-[1em]">Con ejercicios prácticos y recomendaciones puntuales, harás que tu equipo se inspire a seguir construyendo el camino hacia el éxito de tu organización.</p>
      <p class="text-pretty my-[1em] font-semibold uppercase">¡Conversemos y definamos tus objetivos con una conferencia inspiradora!</p>
    </div>
  </div>
</Section>