---
import CtaPrimary from "@/components/ui/CtaPrimary.astro";
import CtaSecondary from "@/components/ui/CtaSecondary.astro";
import Section from "@/components/ui/Section.astro";
---

<Section class="h-dvh mt-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full h-full items-center">
    <div>
      <header>
        <h1 class="text-h1 font-bold text-balance my-h1">Conferencias Transformadoras</h1>
      </header>
      <p class="my-p uppercase text-pretty">¡Permíteme inspirar a tu equipo!</p>
      <p class="my-p text-pretty">Transforme su equipo desbloqueando su potencial a través de conferencias inspiradoras y llenas de realidad. Con ejercicios prácticos y recomendaciones puntuales, inspirará a su equipo a seguir construyendo el camino hacia el éxito organizacional.</p>
      <footer class="flex flex-col md:flex-row gap-5 pt-5">
        <CtaPrimary href="#" body="Ver temas disponibles" />
        <CtaSecondary href="/contacto" body="Solicita una conferencia" />
      </footer>
    </div>
    <div></div>
  </div>
</Section>