@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-base: #F4EFE3;
  --color-text: #1E2B3A;
  --color-dark-green: #194138;
  --color-lightgreen: #63B983;
  --color-amarillo-mostaza: #E1AA57;

  /* font size */
  --text-h1: clamp(var(--text-5xl), 5vw, var(--text-6xl));
  --spacing-h1: 0.67em;

  --text-h2: clamp(var(--text-2xl), 5vw, var(--text-3xl));
  --spacing-h2: 0.83em; 

  --text-h3: clamp(var(--text-xl), 5vw, var(--text-2xl));
  --spacing-h3: 1em;  

  --text-h4: clamp(var(--text-lg), 3vw, var(--text-xl));
  --spacing-h4: 1.33em; 

  --text-h5: clamp(var(--text-base), 2vw, var(--text-lg));
  --spacing-h5: 1.67em; 

  --text-h6: clamp(var(--text-sm), 1.5vw, var(--text-base));
  --spacing-h6: 2.33em;

  --text-p: clamp(var(--text-base), 1vw, var(--text-lg));
  --spacing-p: 1em; 

  --font-Season-mix: 'Season Mix'
}

 .line {
   transition: all 0.3s ease;
 }

 .active .line:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
 }

 .active .line:nth-child(2) {
   opacity: 0;
   transform: translateX(-20px);
 }

 .active .line:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
 }

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Mix';
  src: url('/fonts/SeasonMix/SeasonMix-TRIAL-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  line-height: 1.2;
  font-family: 'Season Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
}
