@import 'tailwindcss';

.container {
	width: 100%;
	@media (width <= 40rem) {
		max-width: 40rem;
		padding-inline: 1rem;
	}
	@media (width >= 48rem) {
		max-width: 46rem;
	}
	@media (width >= 64rem) {
		max-width: 57.6rem;
	}
	@media (width >= 80rem) {
		max-width: 72rem;
	}
	@media (width >= 96rem) {
		max-width: 86.4rem;
	}
}
