@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-base: #F4EFE3;
  --color-text: #1E2B3A;
}


body {
  background-color: var(--color-base);
  color: var(--color-text);
  line-height: 1.2;
}