@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-base: #F4EFE3;
  --color-text: #1E2B3A;
  --color-dark-green: #194138;
  --color-lightgreen: #63B983;
  --color-amarillo-mostaza: #E1AA57;

  /* font size */
  --text-hero: clamp(var(--text-5xl), 5vw, var(--text-6xl));
  --text-heading2: clamp(var(--text-2xl), 5vw, var(--text-3xl));
  --text-headding3: clamp(var(--text-xl), 5vw, var(--text-2xl));
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Sans';
  src: url('/fonts/season-sans/SeasonSans-TRIAL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  line-height: 1.2;
  font-family: 'Season Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
}
