---
import Base from "@/layout/Base.astro";
import WorkshopCta from "./components/WorkshopCta.astro";
import WorkshopFundamentals from "./components/WorkshopFundamentals.astro";
import WorkshopHero from "./components/WorkshopHero.astro";
import WorkshopStructure from "./components/WorkshopStructure.astro";
---
<Base title="Workshops">
  <main>
    <WorkshopHero />
    <WorkshopFundamentals />
    <WorkshopStructure />
    <WorkshopCta />
  </main>
</Base>