---
import Section from "@/components/ui/Section.astro";
---
<Section class="h-dvh mt-12">
  <div class="h-full w-full max-w-lg flex flex-col justify-center">
    <h1 class="font-extrabold my-[0.67em] text-hero text-balance">Nuestra comunidad</h1>
    <p class="my-[1em] text-pretty">Bienvenidos a nuestra comunidad, donde compartimos conocimientos y experiencias.</p>
    <p class="my-[1em] text-pretty">Encuentra mi Blog, E-Books y herramientas gratuitas que te ayudaran a transformar tu futuro hoy.</p>
  </div>
</Section>