---
import Section from "@/components/ui/Section.astro";
import Ebook from '@/assets/e-book.svg'
---

<Section>
  <h2 class="text-heading2 font-bold my-[0.83em]">Recursos para la comunidad</h2>
  <div>
   
  </div>
</Section>