---
import Layout from '@/layout/Base.astro'
import Heo from '@/sections/blog/Heo.astro'
import Posts from '@/sections/blog/Posts.astro'


---

<Layout>
  <main>
    <Heo/>
    <Posts/>
  </main>
</Layout>