---
import Layout from '@/layout/Base.astro'
import Hero from '@/sections/comunida/Hero.astro'
import Recursos from '@/sections/comunida/Recursos.astro'
---
<Layout>
  <main>
   <Hero />
   <Recursos />
  </main>
</Layout>