---
import Layout from '@/layout/Base.astro'
import Contenido1 from '@/sections/liderazgo-imperfecto/Contenido1.astro'
import Contenido2 from '@/sections/liderazgo-imperfecto/Contenido2.astro'
import Contenido3 from '@/sections/liderazgo-imperfecto/Contenido3.astro'
import Hero from '@/sections/liderazgo-imperfecto/hero.astro'
---
<Layout title="Liderazgo Imperfecto" description="Descubre cómo el liderazgo imperfecto puede transformar equipos y organizaciones. Aprende a liderar con autenticidad y efectividad.">
  <main>
    <Hero />
    <Contenido1 />
    <Contenido2 />
    <Contenido3 />
  </main>
</Layout>