---
import CtaPrimary from "@/components/ui/CtaPrimary.astro";
import CtaSecondary from "@/components/ui/CtaSecondary.astro";
import Section from "@/components/ui/Section.astro";
---
<Section class="h-dvh mt-12">
  <div class="grid grid-cols-1 md:grid-cols-[32rem_1fr] gap-5 items-center h-full">
    <div>
      <header>
        <h1 class="text-h1 my-h1 font-bold">Mentoría Ejecutiva</h1>
      </header>
      <p class="text-pretty my-p text-p">Impulsa tu liderazgo al siguiente nivel. Te acompaño en un proceso personalizado para desarrollar tus capacidades como líder, superar desafíos profesionales y alcanzar resultados extraordinarios en tu organización.</p>
      <footer class="flex flex-col md:flex-row gap-5 pt-6">
        <CtaPrimary href="#proceso" body="Conoce el proceso" />
        <CtaSecondary href="/contacto" body="Agenda tu sesión inicial" />
      </footer>
    </div>
    <div></div>
  </div>
</Section>
