---
import CtaPrimary from '@/components/ui/CtaPrimary.astro';
import Section from '@/components/ui/Section.astro';

const PILARES = [
  {
    title: 'Construimos confianza juntos.',
    description:
      '<p>Bajo el Liderazgo Imperfecto, la confianza no es una expectativa, sino un resultado de la <strong>seguridad psicológica</strong> y la <strong>vulnerabilidad</strong>. Se construye cuando el líder es capaz de reconocer sus propios errores y de dar espacio para que el equipo hable sin miedo, estableciendo relaciones auténticas y duraderas.</p>',
    className: 'text-[#FFFACD] bg-[#76153C]',
  },
  {
    title: 'Comprendemos los desafíos del profesional.',
    description:
      '<p>Implica <strong>liderar con empatía</strong> y no solo con autoridad. El líder debe ser un coach y mentor que se enfoca en entender las fortalezas y debilidades únicas de cada colaborador. Se trata de ubicar a la persona en el sitio correcto para que brille de forma natural, reconociendo el contexto y las necesidades individuales.</p>',
    className: 'text-[#B8E6D5] bg-dark-green',
  },
  {
    title: 'Establecemos acciones estratégicas y tácticas.',
    description:
      '<p>Aunque el liderazgo se centra en lo humano, <strong>los resultados son cruciales</strong>. Este pilar exige un pensamiento estratégico que sepa anticipar escenarios, establecer objetivos claros y diseñar planes de acción (tácticas) que sean coherentes. Se trata de tomar decisiones valientes sin perder la compostura emocional.</p>',
    className: 'text-[#f5f5f5] bg-text',
  },
  {
    title: 'Validamos la efectividad de esta y la exploración de nuevas oportunidades.',
    description:
      "<p>Refleja la mentalidad del <strong>'eterno aprendiz'</strong> y la necesidad de <strong>medición constante</strong>. La validación es el proceso de retroalimentación continua (feedback) que permite al líder y al equipo corregir el rumbo, desaprender lo que ya no funciona y reinventarse, buscando siempre el crecimiento y las nuevas oportunidades de impacto.</p>",
    className: '',
  },
];
---

<Section id="proceso">
  <h2 class="text-h2 font-Season-mix my-h2">Los pilares de nuestra metodología</h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 my-5">
    {
      PILARES.map(({ title, description, className }) => (
        <li>
          <article
            class={`h-full p-6 shadow-lg rounded-lg relative before:content-[''] before:absolute before:inset-0 before:bg-[url('../assets/isotipo.svg')] before:bg-no-repeat before:bg-right before:opacity-25 before:pointer-events-none before:h-full before:w-full ${className}`}
          >
            <header>
              <h3 class="text-h4 my-h3 font-Season-mix text-balance">{title}</h3>
            </header>
            <div class="prose-p:my-[1em] prose-p:text-pretty" set:html={description} />
          </article>
        </li>
      ))
    }
  </ul>
  <footer class="flex flex-col justify-center items-center">
    <p class="text-pretty my-[1em]">¿Listo para llevar tu liderazgo al siguiente nivel?</p>
    <CtaPrimary href="/contacto" body="Agenda una sesión" />
  </footer>
</Section>
