---
import Section from "@/components/ui/Section.astro";


---

<Section class="scroll-mt-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center group mb-6">
    <div class="overflow-hidden rounded-xl">
      <img src="https://joseecheverri.com/wp-content/uploads/2025/11/mentoria_ejecutiva.webp" alt="Empresario subiendo escaleras geométricas abstractas rodeado de elementos de visualización de datos y métricas de crecimiento" class="group-hover:scale-110 transform transition-all duration-300"/>
    </div>
    <div>
      <header>
        <h2 class="text-h2 font-Season-mix text-balance my-h2">Cómo trabajamos juntos para potenciar tu desarrollo</h2>
      </header>
      <p class="my-[1em] text-pretty">Desarrolla todo tu potencial como líder y genera nuevos aprendizajes.</p>
      <p class="my-[1em] text-pretty">Mi proceso se focaliza en diseñar un plan de desarrollo con acciones concretas, acorde a la particularidad de cada colaborador y al entorno organizacional que está viviendo, dentro de un ambiente seguro.</p>
    </div>
  </div>
</Section>

