---

---
<form id="contactForm" class="space-y-4">
  <div class="flex flex-col space-y-1.5" id="grupo__nombre">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" required placeholder="Escribe tu nombre" class="border-2 border-gray-500 px-4 py-2 rounded-xl bg-gray-200 text-text font-semibold">
    <span class="error-message" id="nombreError"></span>
  </div>
  <div class="flex flex-col space-y-1.5" id="grupo__correo">
    <label for="correo">Correo</label>
    <input type="email" id="correo" name="correo" placeholder="Escribe tu correo corporativo" required class="border-2 border-gray-500 px-4 py-2 rounded-xl bg-gray-200 text-text font-semibold">
    <span class="error-message" id="correoError"></span>
  </div>
  <button type="submit" id="submitBtn" class="bg-green-500 w-full text-center py-2 rounded-xl">Enviar</button>
</form>
<div id="message"></div>
