---
import Base from "@/layout/Base.astro";
import LibraryHero from "./components/LibraryHero.astro";
import LibraryRecomendations from "./components/LibraryRecomendations.astro";
---
<Base title="La Biblioteca del Líder" description="Descubre la biblioteca del líder con libros de liderazgo, gestión y desarrollo personal.">
  <main>
    <LibraryHero />
    <LibraryRecomendations />
  </main>
</Base>