---
import Layout from '@/layout/Base.astro'
import Beneficios from './components/Beneficios.astro'
import Credibilidad from './components/Credibilidad.astro'
import Enfoque from './components/Enfoque.astro'
import HeroConsultorias from './components/HeroConsultorias.astro'
import Modulos from './components/Modulos.astro'
---
<Layout title="Consultorías" description="Explora nuestras consultorías especializadas diseñadas para impulsar el crecimiento y la transformación de tu organización a través de estrategias efectivas y liderazgo inspirador.">
  <main>
    <HeroConsultorias />
    <Enfoque />
    <Modulos />
    <Beneficios />
    <Credibilidad />
  </main>
</Layout>