---
import Section from "@/components/ui/Section.astro";
---

<Section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center">
    <div class="overflow-hidden rounded-xl">
      <img src="https://joseecheverri.com/wp-content/uploads/2025/11/hrslcebkct6ozrpc6w0f.webp" alt=""/>
    </div>
    <div>
      <p class="my-[1em] text-pretty">Construye una verdadera estructura de Liderazgo en tu organización</p>
      <p class="my-[1em] text-pretty">Este libro no solo será una herramienta invaluable, sino también un símbolo de nuestro compromiso para alcanzar tus metas y desatar tu máximo potencial como líder.</p>
      <p class="my-[1em] text-pretty">Accede a una de mis conferencias o mentorías y obtén este libro que será tu guía en este viaje de crecimiento y desarrollo personal.</p>
      <p class="my-[1em] text-pretty">¡Juntos, escribiremos el siguiente capítulo de tu éxito!</p>
      <footer>
        <a href="/contacto" class="bg-amarillo-mostaza px-4 py-2 inline-block rounded-xl font-semibold mt-6">¡Quiero esto!</a>
      </footer>
    </div>
  </div>
</Section>