---
import Section from "@/components/ui/Section.astro";
---
<Section class=" overflow-hidden">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center">
    <div>
      <header>
        <h2 class="font-Season-mix my-h2 text-balance">
          <span class="block text-h4">Mi libro,</span>
          <span class="block text-h2">Liderazgo Imperfecto</span>
        </h2>
      </header>
      <p class="my-p text-pretty">Me enfoco en desafiar el paradigma del líder como el superhéroe que todos imaginamos, por lo que hay que reconocer que somos vulnerables, no lo sabemos todo, y debemos crear entornos de seguridad psicológica, convirtiéndonos más en mentores que en jefes.</p>
      <p class="my-p text-pretty">Entender nuestras vulnerabilidades más rápidamente, reconocerlas y abrazarlas nos hace crecer, esto nos permitirá descubrir y producir más líderes en nuestro entorno, aprendiendo a descubrirlos más temprano y hacerlos crecer más rápido.</p>
      <p class="my-p uppercase text-balance">¡Delega, crece y construye equipos de trabajo productivos y felices!</p>
      <footer>
        <a href="#" class="bg-amarillo-mostaza px-4 py-2 font-semibold rounded-xl max-w-max inline-block mt-6">Quiero esto</a>
      </footer>
    </div>
    <div class="h-128 aspect-9/16 overflow-hidden">
      <img src="https://joseecheverri.com/wp-content/uploads/2025/05/jose-echeverri-2.webp" alt="José Echeverri" decoding="async" loading="lazy" class="w-full h-full object-cover"/>
    </div>
  </div>
</Section>