---
import Section from "@/components/ui/Section.astro";
import CtaPrimary from "@/components/ui/CtaPrimary.astro";
import CtaSecondary from "@/components/ui/CtaSecondary.astro";
---
<Section class="mt-10 h-dvh">
  <div class="w-full h-full flex flex-col justify-center max-w-lg">
    <header>
      <h1 class="text-h1 my-h1 font-bold text-balance">En un mundo que valora la perfección</h1>
    </header>
    <p class="my-p text-p text-pretty">¿Has considerado abrazar tus imperfecciones para convertirte en un líder excepcional?</p>
    <p class="my-p text-p text-pretty">Deja de intentar ser el líder perfecto. Conviértete en el líder que tu equipo realmente necesita.</p>
    <div class="pt-6 flex flex-col md:flex-row gap-5">
      <CtaPrimary href="#contacto" body="Descubre más"/>
      <CtaSecondary href="/contacto" body="Agenda una llamada"/>
    </div>
  </div>
</Section>