---
import Section from "@/components/ui/Section.astro";
---
<Section class="mt-10 h-dvh">
  <div class="w-full h-full flex flex-col justify-center max-w-lg">
    <header>
      <h1 class="text-[clamp(var(--text-4xl),5vw,var(--text-6xl))] text-balance font-bold my-[0.67em] italic">En un mundo que valora la perfección</h1>
    </header>
    <p class="my-[1em]">¿Has considerado abrazar tus imperfecciones para convertirte en un líder excepcional?</p>
    <p class="my-[1em]">Deja de intentar ser el líder perfecto. Conviértete en el líder que tu equipo realmente necesita.</p>
    <footer class="mt-6">
      <a href="/contacto" class="bg-amarillo-mostaza font-semibold px-4 py-2 rounded-xl">Descubre más</a>
    </footer>
  </div>
</Section>