---
import CtaPrimary from "../ui/CtaPrimary.astro";
import CtaSecondary from "../ui/CtaSecondary.astro";
import Section from "../ui/Section.astro";
import { Image } from 'astro:assets';
---

<Section class="h-dvh relative pt-6">
  <Image 
  src="https://joseecheverri.com/wp-content/uploads/2025/11/Jose_echeverri.webp" 
  alt="Descripción de la imagen" 
  width={800} 
  height={600} 
  class="absolute inset-0 w-full h-full object-contain object-left -z-10 opacity-30 mask-b-from-50% mask-b-to-100%"
/>
  <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full gap-5">
    <div class="w-full h-full flex flex-col justify-center">
      <header>
        <h1 class="font-bold text-h1 my-h1">Inspira, transforma y lidera</h1>
      </header>
      <p class="text-pretty text-p my-p">Potencia tu equipo y transforma tu empresa con un liderazgo auténtico.</p>
      <footer class="flex flex-col md:flex-row pt-6 gap-5">
        <CtaPrimary href="#servicios" body="Descubre mis servicios"/>
        <CtaSecondary href="/contacto" body="Conversemos"/>
      </footer>
    </div>
    <div class="w-full h-full flex flex-col justify-end relative overflow-hidden">
      <Image src="https://joseecheverri.com/wp-content/uploads/2025/11/Jose_echeverri.webp" alt="Descripción de la imagen" width={800} height={600} class="absolute inset-0 w-auto h-full object-cover hidden md:block"/>
      <lite-youtube videoid="5FkJPrCMbMY"></lite-youtube>
    </div>
  </div>
</Section>  

