---
import Section from "../ui/Section.astro";
---

<Section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div>
      <lite-youtube videoid="eTp2q7yvEZs"></lite-youtube>
    </div>
    <div>
      <header>
        <h2 class="text-h2 my-h2 font-Season-mix">Una nueva versión sobre la imperfección para el crecimiento exponencial de las empresas en América Latina.</h2>
      </header>
      <div class="space-y-4">
        <p>Descubre la visión de Jose Echeverri sobre la sostenibilidad y estabilidad empresarial mediante un liderazgo consciente.</p>
        <p>Fortalece tu empresa con líderes transformadores.</p>
        <p>Conversemos sobre tus principales desafíos e iniciemos un viaje para escalar tu liderazgo y el de tus equipos.</p>
      </div>
    </div>
  </div>
</Section>