---
interface CtaPrimary {
  body: string;
  href: string;
}
const { body, href } = Astro.props as CtaPrimary;
---
<a href={href} class="bg-amarillo-mostaza hover:bg-amarillo-mostaza/80 transition-colors rounded-lg px-8 py-3 font-semibold mde:hover:opacity-50 text-center duration-300">{body}</a>