---
interface CtaSecondary {
  body: string;
  href: string;
}
const { body, href } = Astro.props as CtaSecondary;
---
<a href={href} class="border-2 border-amarillo-mostaza rounded-lg px-8 py-3 font-semibold mde:hover:opacity-50 transition-opacity duration-300">{body}</a>