---
import Header from "@/components/header.astro";
import "../styles/global.css"
import Footer from "@/components/Footer.astro";

interface SiteMetadata {
  title?:string
  description?:string
  img?:string
}

const {title, description, img} = Astro.props as SiteMetadata;
---

<html lang="es-CO">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? "Mi sitio web"} />
		<title>{title}</title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://joseecheverri.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="inicio - jose-echeverri-wp">
    <meta property="og:description" content="Potencia tu equipo y transforma tu empresa con un liderazgo auténtico ¡Conversemos!">
    <meta property="og:image" content={img ?? ""}>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="joseecheverri.com">
    <meta property="twitter:url" content="https://joseecheverri.com">
    <meta name="twitter:title" content="inicio - jose-echeverri-wp">
    <meta name="twitter:description" content="Potencia tu equipo y transforma tu empresa con un liderazgo auténtico ¡Conversemos!">
    <meta name="twitter:image" content={img ?? ""}>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
	</head>
	<body>
    <Header/>
		<slot />
    <Footer/>
	</body>
</html>
